.slots{
    position:fixed;
    overflow: hidden;
    animation-duration: 4s;
    animation-delay: 0;
    animation-fill-mode: forwards;
}
.p1{
    left:33%;
}
.p2{
    left:50%;
}
.p3{
    left:66%;
}

/*i.e. <div class=arrow><a href="..."><img src="..."></a></div>*/ 
.arrow{
    position: fixed;
    left: 5%;
    top:5%;
    width: 75px;
    height: 75px;
    transition: transform .6s;
    transition-timing-function: ease-in-out;
}
.arrow:hover{
    transform: scale(2);
}