:root{
    --spinp1 : -1340px;  /*end of p1*/
    --spinp2 : -1880px;  /*end of p2*/
    --spinp3 : -3642px;  /*end of p3*/
    --p1top: -340px;
    --p2top: -70px;
    --p3top: -200px;
}
@keyframes spinp1 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,var(--spinp1));
    }
}
@keyframes spinp2 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,var(--spinp2));
    }
}
@keyframes spinp3 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,var(--spinp3));
    }
}
.p1{             
    animation-name: spinp1;
    top: var(--p1top);
}
.p2{
    animation-name: spinp2;
    top: var(--p2top);
}
.p3{
    animation-name: spinp3;
    top:var(--p3top);
}