:root{
    --spinp1 : -1145px;  /*end of p1*/
    --spinp2 : -1680px;  /*end of p2*/
    --spinp3 : -4225px;  /*end of p3*/
    --p1top: -200px; /*Start of p1*/
    --p2top: -200px; /*Start of p2*/
    --p3top: -200px; /*Start of p3*/
}
@keyframes spinp1 {
    0%{
        transform: translate(0px,var(--p1top));
    }
    100%{
        transform: translate(0px,var(--spinp1));
    }
}
@keyframes spinp2 {
    0%{
        transform: translate(0px,var(--p2top));
    }
    100%{
        transform: translate(0px,var(--spinp2));
    }
}
@keyframes spinp3 {
    0%{
        transform: translate(0px,var(--p3top));
    }
    100%{
        transform: translate(0px,var(--spinp3));
    }
}
.p1{             
    animation-name: spinp1;
}
.p2{
    animation-name: spinp2;
}
.p3{
    animation-name: spinp3;
}