:root{
    --spinp1 : -100px;  /*end of p1*/
    --spinp2 : -100px;  /*end of p2*/
    --spinp3 : -100px;  /*end of p3*/
    --p1top: 10px; /*Start of p1*/
    --p2top: 10px; /*Start of p2*/
    --p3top: 10px; /*Start of p3*/
}
@keyframes spinp1 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,var(--spinp1));
    }
}
@keyframes spinp2 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,var(--spinp2));
    }
}
@keyframes spinp3 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,var(--spinp3));
    }
}
.p1{             
    animation-name: spinp1;
    top: var(--p1top);
}
.p2{
    animation-name: spinp2;
    top: var(--p2top);
}
.p3{
    animation-name: spinp3;
    top:var(--p3top);
}